Repository LlmDl/Towny, changes with the labels that .github/labeler.yml gives for each.
All labels: towny-war, commands, towny-objects, database, towny-chat, economy, confirmations, chat, utils, config, events, github, maven, resources

.github/labeler.yml:

towny-war:
    - src/com/palmergames/bukkit/towny/war/*

commands:
    - src/com/palmergames/bukkit/towny/command/*

towny-objects:
    - src/com/palmergames/bukkit/towny/object/*

database:
    - src/com/palmergames/bukkit/towny/db/*

towny-chat:
    - src/com/palmergames/bukkit/towny/chat/*

economy:
    - src/com/palmergames/bukkit/towny/object/EconomyAccount.java
    - src/com/palmergames/bukkit/towny/object/EconomyHandler.java
    - src/com/palmergames/bukkit/towny/TownyEconomyHandler.java

confirmations:
    - src/com/palmergames/bukkit/towny/confirmations/*

chat:
    - src/com/palmergames/bukkit/towny/confirmations/chat/*

utils:
    - src/com/palmergames/bukkit/util/*
    - src/com/palmergames/util/*

config:
    - src/com/palmergames/bukkit/config/*

events:
    - src/com/palmergames/bukkit/towny/event/*

github:
    - .github/*

maven:
    - pom.xml

resources:
    - resources/*

Add trust and per-player permissions.
  resources/english.yml
  resources/plugin.yml
  src/com/palmergames/bukkit/towny/TownyAsciiMap.java
  src/com/palmergames/bukkit/towny/TownyFormatter.java
  src/com/palmergames/bukkit/towny/command/HelpMenu.java
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/db/SQL_Schema.java
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/towny/listeners/TownyInventoryListener.java
  src/com/palmergames/bukkit/towny/object/Coord.java
  src/com/palmergames/bukkit/towny/object/PermissionData.java
  src/com/palmergames/bukkit/towny/object/PlayerCache.java
  src/com/palmergames/bukkit/towny/object/Town.java
  src/com/palmergames/bukkit/towny/object/TownBlock.java
  src/com/palmergames/bukkit/towny/object/gui/EditGUI.java
  src/com/palmergames/bukkit/towny/object/gui/PermissionGUI.java
  src/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
  src/com/palmergames/bukkit/towny/utils/PermissionUtil.java
  src/com/palmergames/bukkit/towny/utils/PlayerCacheUtil.java
  src/com/palmergames/bukkit/towny/utils/ResidentUtil.java
Labels: commands, towny-objects, database, resources

Fix plot/town trust HelpMenus
  src/com/palmergames/bukkit/towny/command/HelpMenu.java
Labels: commands

Save/load trusted residents using UUID
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/db/TownyDataSource.java
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
Labels: commands, database

Drop the first 2 args
  src/com/palmergames/bukkit/towny/command/HelpMenu.java
Labels: commands

Save permission overrides using UUIDs
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/towny/listeners/TownyInventoryListener.java
  src/com/palmergames/bukkit/towny/object/PermissionData.java
  src/com/palmergames/bukkit/towny/object/gui/EditGUI.java
  src/com/palmergames/bukkit/towny/utils/PermissionGUIUtil.java
  src/com/palmergames/bukkit/towny/utils/PlayerCacheUtil.java
Labels: commands, towny-objects, database

add TODO comment
  src/com/palmergames/bukkit/towny/object/TownBlock.java
Labels: towny-objects
